@font-face {
  font-family: 'game';  /* project id 1592558 */
  src: url('//at.alicdn.com/t/font_1592558_cbqqxm984wq.eot');
  src: url('//at.alicdn.com/t/font_1592558_cbqqxm984wq.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_1592558_cbqqxm984wq.woff2') format('woff2'),
  url('//at.alicdn.com/t/font_1592558_cbqqxm984wq.woff') format('woff'),
  url('//at.alicdn.com/t/font_1592558_cbqqxm984wq.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_1592558_cbqqxm984wq.svg#game') format('svg');
}

.game, i[class*='game-'] {
  display: inline-block;
  font-family: "game" !important;
  font-style: normal;
  font-weight: initial;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.game::before, i[class*='game-']::before {
  vertical-align: initial;
}
/* icon class */

.game-arrow-right:before {
  content: "\e646";
}

.game-kefu:before {
  content: "\e68b";
}

.game-location:before {
  content: "\e61e";
}

.game-suoxiao:before {
  content: "\e678";
}

.game-user:before {
  content: "\e608";
}

.game-solid-close:before {
  content: "\e641";
}

.game-fangda:before {
  content: "\e72f";
}

.game-youjianyidu:before {
  content: "\e61b";
}

.game-huabanfuben:before {
  content: "\e6ed";
}

.game-ellipsis:before {
  content: "\e701";
}

.game-feadback:before {
  content: "\e685";
}

.game-youjianweidu:before {
  content: "\e6b7";
}

.game-settings:before {
  content: "\e601";
}

.game-logo:before {
  content: "\e603";
}

.game-logo-y:before {
  content: "\e605";
}

.game-logo-txt:before {
  content: "\e606";
}

.game-logo-hy:before {
  content: "\e607";
}
