body, ul, li, div {
  margin:0px;
  padding:0px;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}

.navigation {
  margin-top: 20px;
  text-align: center;
}
.navigation a {
  position: relative;
  display: inline-block;
  width: 40%;
  font-size: 16px;
}
.navigation a .van-icon-arrow{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.container{
  display: flex;
  height: 100vh;
  background: #F3F1F2;
  flex-direction: column;
}
.flex-row {
  display: flex;
  align-items: center;
}
.flex-col {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.flex-vertical-center{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.flex-Horizontal-center{
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.vertical-horizontal-center {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.flex-wrap-space-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.float-list {
  float: left;
}


.popup {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .7);

  .game-solid-close {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1001;
    font-size: 27px;
    color: #FFF4D6;
    transform: translate(40%, -40%);
  }
}
/**
 * 游惠GUI分割
 */
.yh-gui-public {
  background: url('../sprites/yh_gui_public.png') no-repeat left top;
  background-size: 26em;
}

.yh-gui-template {
  background: url('../sprites/yh_gui_template.png') no-repeat left top;
  background-size: 26em;
}

.yh-gui-channel {
  background: url('../sprites/yh_gui_channel.png') no-repeat left top;
  background-size: 26em;
}

.yh-gui-home-game-list {
  background: url('../sprites/yh_gui_home_game_list.png') no-repeat left top;
  background-size: 26em;
}

.yh-gui-home-aside {
  background: url('../sprites/yh_gui_aside_tight_bottom.png') no-repeat left top;
  background-size: 26em;
}

.yh-gui-shop {
  background: url('../sprites/yh_gui_shop.png') no-repeat left top;
  background-size: 55em;
}

.yh-gui-popup {
  background: url('../bg/popup.png') no-repeat;
  background-size: 100% 100%;
}

.yh-gui-title {
  display: flex;
  width: 10em;
  height: 2.5em;
  margin: -1em auto 0;
  background-position: -.1em -8.8em;
  justify-content: center;
  align-items: center;
}


@media screen and (min-height: 500px) {
  html {
    font-size: 10px;
  }
}

@media screen and (min-height: 550px) {
  html {
    font-size: 10.5px;
  }
}

@media screen and (min-height: 600px) {
  html {
    font-size: 12px;
  }
}

@media screen and (min-height: 650px) {
  html {
    font-size: 13px;
  }
}

@media screen and (min-height: 700px) {
  html {
    font-size: 14px;
  }
}

@media screen and (min-height: 800px) {
  html {
    font-size: 16px;
  }
}