body {
  background: #fff;
}
input::-webkit-input-placeholder{
  color: #b7b7b7;
  font-size: 17px;
}
input::-moz-placeholder{   /* Mozilla Firefox 19+ */
  color: #b7b7b7;
  font-size: 17px;
}
input:-moz-placeholder{    /* Mozilla Firefox 4 to 18 */
  color: #b7b7b7;
  font-size: 17px;
}
input:-ms-input-placeholder{  /* Internet Explorer 10-11 */
  color: #b7b7b7;
  font-size: 17px;
}
.navigation {
  margin-top: 20px;
  text-align: center;
}
.navigation a {
  position: relative;
  display: inline-block;
  width: 40%;
}
.navigation a .van-icon-arrow{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
