*{
  margin:0px; padding:0px;
  box-sizing: border-box;
}
body,h1,h2,h3,h4,h5,h6,hr,p,blockquote,dl,dt,dd,ul,ol,li,pre,
form,fieldset,legend,button,input,textarea,th,td,section,p,span,font,div{margin:0;padding:0;font-family:"Microsoft yahei";color:#333;}
body,button,input,select,textarea{font:12px/1.5 tahoma,arial,\5b8b\4f53;}
h1,h2,h3,h4,h5,h6{font-size:100%;}
address,cite,dfn,em,var{font-style:normal;}
code,kbd,pre,samp{font-family:"Microsoft yahei";}
small{font-size:12px;}
ul,ol{list-style:none;}
a{text-decoration:none;color: #333;}
a:hover{text-decoration: underline;}
sup{vertical-align:text-top;}
sub{vertical-align:text-bottom;}
legend{color:#000;}
fieldset,img{border:0;}
button,input,select,textarea{font-size:100%;}
table{border-collapse:collapse;border-spacing:0;}
body {
  background: #fff;
}
input::-webkit-input-placeholder{
  color: #b7b7b7;
  font-size: 17px;
}
input::-moz-placeholder{   /* Mozilla Firefox 19+ */
  color: #b7b7b7;
  font-size: 17px;
}
input:-moz-placeholder{    /* Mozilla Firefox 4 to 18 */
  color: #b7b7b7;
  font-size: 17px;
}
input:-ms-input-placeholder{  /* Internet Explorer 10-11 */
  color: #b7b7b7;
  font-size: 17px;
}
.navigation {
  margin-top: 20px;
  text-align: center;
}
.navigation a {
  position: relative;
  display: inline-block;
  width: 40%;
}
.navigation a .van-icon-arrow{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.container{
  display: flex;
  height: 100vh;
  background: #F3F1F2;
  flex-direction: column;
}
.flex-row {
  display: flex;
  align-items: center;
}
.flex-col {
  display: flex;
  flex-direction: column;
  align-items: center;
}